*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper-parent-flex{
  display: flex;
  flex-direction: column;
}

.header{
  background: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 3
}

.header-content{
  display: flex;
}

.hammie, .logo1, .logo{
   color: #f92c8c;
  font-size: 1rem;
  padding-right: 1.5rem;
  align-self: center;
}
/* js class to animate bring hammie & logo to front */
/* ****** does not work bc of the fixed nav */
/* .headerForward{
  animation: animate 1s forwards;
}

@keyframes animate {
  0% {
    opacity: -2;
    z-index: 0;
  }
  20% {
    opacity: -1;
    z-index: 0;
  }
  100% {
    z-index: 5;
  }
} */

/*********** nav bar *************/
.nav {
   transition: .5s all ease;
   position: fixed;
   top: 0;
   width: 250px;
   left: -250px;
   height: 100%;
   padding-top: .1rem;
   background: #FFF;
   z-index: 3
}
/* js class to open nav bar */
.open {
  left: 0px;
}

.navOverlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none
}
/* turn on with js */
.navOverlayActive{
  display: block
}
/* nav basic styles */
li, .header-content2{
  padding: 1rem 2rem;
  list-style-type: none;
  font-size:.9rem;
}

a{
  text-decoration: none;
  color: black
}

a:hover {
  transition: all .5s ease;
  color: #f92c8c;
}

/*********** pure css hammie icon transition ****/
.bar {
   display: block;
   height: 3px;
   width: 30px;
   background: black;
   margin: 8px;
 }
/* bar container */
 .con {
   /* width: auto;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease; */
   transition: all .5s ease;
 }

.con:hover .bar {
  background-color: #f92c8c;
}

.bar {
   /* -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease; */
   transition: all .5s ease;
 }

 .changeX.top {
   /* -webkit-transform: translateY(15px) rotateZ(45deg);
   -moz-transform: translateY(15px) rotateZ(45deg);
   -ms-transform: translateY(15px) rotateZ(45deg);
   -o-transform: translateY(15px) rotateZ(45deg); */
   transform: translateY(11px) rotateZ(42deg);
 }

 .changeX.bottom {
   /* -webkit-transform: translateY(-15px) rotateZ(-45deg);
   -moz-transform: translateY(-15px) rotateZ(-45deg);
   -ms-transform: translateY(-15px) rotateZ(-45deg);
   -o-transform: translateY(-15px) rotateZ(-45deg); */
   transform: translateY(-11px) rotateZ(-42deg);
 }

  .changeX.middle {
   width: 0;
 }

/******   main page content sections   *****/
.main{
padding: 4rem;
position: relative;
}

.section, .img-section{
  width: 100%;
  padding: 1rem;
  position: relative;
  top: 4rem;
  z-index: 1 /*places section behind the overlay tint*/
}

h1:hover, h2:hover, p:hover   {
  color: #f92c8c;
  transition: all .5s ease;
}
.img-section{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img{
  padding-bottom: 2rem;
  width: 100%
}

/**** 3js ****/
.threeJS{
  position: absolute;
  width:100%;
  height: 100%
}



/******* MQ for larger screens min-width = starting at... *******/
@media(min-width:767px){
html{
  font-size: 20px
}
/*** nav mq **/
.main-wrapper-parent-flex{
  flex-direction: row
}

.nav{
position: relative;
height: 100vh;
min-width: 250px;
top: 0px;
left: 0px;
padding-top: 4rem
}

.hammie, .logo1{
 display: none;
}

.logo{
 padding-bottom: 2rem
}

/*** mq main content ***/
img{
 width:47%; /* flex width with gap*/
}

.main{
  max-width: 900px;
  margin: 0 auto
}
}
